.about-us {
    width: 80vw;
    max-height: 90dvh;
    padding: 20px 30px;
    position: relative;
    grid-template-rows: auto 1fr auto;
    background-color: $clr0;

    border-radius: 16px;
    box-shadow: 1px 0px 2px 0px grey;
    overflow: auto;


    @include for-narrow-layout {
        grid-template-rows: auto auto auto;
        padding: 20px 40px;

    }

    .myday-story {
        height: 100%;
        font-size: 2rem;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        text-align: center;
        z-index: 2;

        @include for-narrow-layout {
            font-size: 3rem;
        }
    }

    .about-us-content {
        z-index: 2;
        display: grid;
        grid-template-rows: auto 1fr;
        padding-block: 20px;
        gap: 10px;

        @include for-narrow-layout {
            grid-auto-flow: column;
            grid-template-rows: unset;
            align-items: center;
        }
    }

    .about-us-img {
        text-align: center;
        object-fit: contain;

        img {
            border-radius: 16px;
            width: 60%;
            box-shadow: 0 4px 17px 6px rgba(0, 0, 0, .1);

            @include for-narrow-layout {
                width: 85%;

            }
        }

    }

    .about-us-txt {
        white-space: normal;
        font-size: rem(18px);

    }

    .about-us-contact {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 30px;
        align-items: center;

        @include for-narrow-layout {
            gap: 50px;

        }

        span {
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                width: 30px;
                height: 30px;

                @include for-narrow-layout {
                    width: 50px;
                    height: 50px;

                }
            }

            &:hover svg {
                fill: $clr-status-done;
            }
        }
    }
}