.board-header {
    padding-inline: 34px;
    padding-top: 16px;

    display: grid;
    grid-template-areas:
        "title info-favorite activities invite"
        "display-opts display-opts display-opts actions"
        "filter filter filter filter";
    grid-template-columns: auto 1fr 1fr auto;
    align-items: center;
    gap: 8px;

    &.collapsed {
        grid-template-areas:
            "title display-opts invite actions"
            "filter filter filter filter";
        grid-template-columns: auto 1fr 1fr;

        .invite-more-bts {
            justify-self: end;
        }

        .automate {
            display: none;
        }

        .activities {
            display: none;
        }

        .info-favorite {
            display: none;
        }
    }

    .title {
        grid-area: title;
        padding-inline: 4px;

        &:hover {
            outline: 1px solid $clr-btn-border;
            border-radius: $border-radius-small;
        }
    }

    .info-favorite {
        grid-area: info-favorite;
    }

    .activities {
        grid-area: activities;
        justify-self: end;
    }

    .invite-more-bts {
        grid-area: invite;
        justify-self: end;

        .invite {
            border: 1px solid $clr-btn-border;
            margin-inline-end: 8px;
        }

        .more {
            padding-inline: 4px;
        }
    }

    .display-opts {
        grid-area: display-opts;

        >*:not(:last-child) {
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                translate: 0 -50%;
                height: 50%;
                width: 1px;
                background-color: $clr-group-border;
            }
        }
    }

    .actions {
        grid-area: actions;
        justify-self: end;

        .collapse {
            rotate: 180deg;
            border-radius: 50%;
            border: 1px solid $clr-btn-border;
            width: 26px;
            height: 26px;
            padding: 0;
            margin-inline-start: 16px;
            transition: 2ms;

            &.collapsed {
                rotate: 0deg;
            }

            img:hover {
                animation: bounce 0.5s ease 2;
                /* Adjust timing and easing as needed */
            }
        }
    }

    .board-filter {
        grid-area: filter;
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        gap: 6px;
        padding-block: 16px;
        border-top: 1px solid $clr-group-border;

        .new-task {
            @include btn($type: clrblue);
        }

        .search-section {
            border: 1px solid $clr-group-border;
            border-radius: $border-radius-small;

            &.active {
                border-color: $clr-btn-add;
            }
        }

        input {
            width: 100px;
            border: none;
            outline: none;
            padding-block: 0;
        }
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}