.board-app-header {
    background-color: $clr-bg-header;
    padding: 10px 20px;
    user-select: none;

    .header-logo {
        gap: 4px;
        cursor: pointer;

        .app-title {
            font-size: rem(16px);
            font-family: poppins-bold;
            color: $clr-font
        }

        .logo {
            width: 20px;
        }
    }

    .user-info {
        padding-left: 100px;
        color: $clr-font;

        .user-img {
            max-height: 30px;
            max-width: 30px;
            min-height: 30px;
            min-width: 30px;
            cursor: pointer;
        }
    }


    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr0;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr0;
    }
}