.board-header {
    padding-inline: 34px;
    padding-top: 16px;

    display: grid;
    grid-template-areas:
        "info colleagues"
        "display-opts actions"
        "filter filter";
    justify-content: space-between;

    &.scrolled {
        grid-template-areas:
            "info display-opts colleagues"
            "filter filter filter";
        grid-template-columns: auto 1fr 1fr;

        .actions {
            display: none;
        }

        .colleagues {
            justify-self: end;
        }
    }

    .info {
        grid-area: info;
        display: flex;
        align-items: center;
        // margin-right: 4px;

        .board-title {
            padding-inline: 4px;
        }

    }

    .colleagues {
        grid-area: colleagues;
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 8px;

        .invite-container {
            border: 1px solid $clr-btn-border;

        }
    }

    .display-opts {
        grid-area: display-opts;

    }

    .actions {
        grid-area: actions;

    }

    .filter-sec {
        grid-area: filter;
    }
}