.color-picker-modal {
    position: absolute;
    top: 3px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 6px;
    margin-inline-start: 30px;
    background-color: white;
    border-radius: 4px;
    outline: 1px solid $clr-btn-border;
    padding: 5px;
    cursor: auto;
    z-index: 40;

    .color {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {
            filter: brightness(110%);
        }
    }
}