.link-picker {
    padding: 2px;


    button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $clr-link;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        width: 95%;
        height: 90%;
        cursor: text;

        &:hover {
            outline: 1px solid $clr-btn-border;
        }

        a {
            color: $clr-link;

            &:hover {
                text-decoration: underline;
            }
        }


    }
}