.link-picker {


    a {
        color: $clr-link;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        &:hover {
            text-decoration: underline;
        }
    }
}