.member-picker-modal {
    padding: 10px;

    .chosen-members-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        .chosen-member {
            display: flex;
            align-items: center;
            margin-inline: 5px;
            text-align: center;
            background-color: $clr-chosen-member;
            border-radius: 20px;
            width: fit-content;
            padding-inline-end: 7px;

            .user-img,
            .extra-members-box {
                max-width: 22px;
                margin-inline-end: 4px;
                border: 2px solid $clr-chosen-member;
            }

            .extra-members-box {
                min-width: 30px;
                min-height: 30px;

            }

            .username {
                font-size: rem(12px);
                margin-inline-end: 4px;
            }

            .remove-btn {
                font-size: rem(11px);
                margin-inline-end: 2px;

            }

        }
    }
}