.member-picker {
    align-items: center;
    display: flex;
    justify-content: center;

    .member-img-container {
        align-items: center;
        display: flex;
        justify-content: center;

    }

    img,
    span {
        margin-inline-end: -6px;
    }
}