.menu-option-modal {
    position: absolute;
    display: flex;
    align-items: center;
    left: 40px;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 17px 6px rgba(0, 0, 0, .1);

    z-index: 20;

    img {
        width: 16px;
    }

    p {
        margin: 0;
    }
}