.sidebar {
    background-color: $clr6;
    height: 100%;
    width: 200px;
    position: absolute;
    left: -170px;
    border-top-right-radius: 8px;

    &:hover {
        left: 0;
    }

    &.open {
        position: static;
    }

    .sidebar-main-nav {
        position: relative;
        padding: 12px 40px 12px 12px;
        border-bottom: 1px solid $clr-group-border;

        .btn-menu {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .sidebar-workspace {
        padding: 12px;

        .workspace-section {
            gap: 7px;
            justify-content: start;
            padding-inline-start: 7px;
            font-family: figtree-bold;

            span {
                font-size: rem(16px);
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            &>img {
                width: 18px;
                height: 18px;
            }

            &.open {
                background-color: $clr-btn-active;

                &>img {
                    transform: rotate(180deg);
                }
            }
        }

        .workspace-logo {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: $border-radius-small;
            background-color: $clr-workspace-logo;

            color: $clr0;

            img {
                position: absolute;
                bottom: -10px;
                right: -12px;
                height: 20px;
                width: 20px;
            }
        }

        .btn.clrblue {
            @include btn($type: clrblue);
        }

        // .btn-add-group {
        //     height: 32px;
        //     width: 32px;
        //     background-color: $clr-btn-add;
        //     border-radius: $border-radius-small;
        // }
    }

    // .sidebar-btn {
    //     justify-content: start;
    //     padding: 6px 8px;
    //     height: 32px;
    //     border-radius: $border-radius-small;
    //     font-size: rem(14px);

    //     &:hover {
    //         background-color: $clr-btn-hover;
    //     }

    //     img {
    //         height: 100%;
    //         width: auto;
    //         margin-inline-end: 8px;
    //     }
    // }
}