.sidebar {
    background-color: $clr6;
    height: 100%;
    width: 200px;
    position: absolute;
    left: -170px;
    border-top-right-radius: 8px;
    transition: left 150ms;

    &>.sidebar-workspace,
    .sidebar-board-nav {
        opacity: 0;
    }

    &:hover {
        left: 0;
        z-index: 20;
        box-shadow: 0 6px 20px rgba(0, 0, 0, .2);

        &>.sidebar-workspace,
        .sidebar-board-nav {
            opacity: 1;
        }

        .btn-menu {
            opacity: 1;
        }
    }

    &.open {
        position: static;

        &>.sidebar-workspace,
        .sidebar-board-nav {
            opacity: 1;
        }

        &:hover {
            box-shadow: none;
        }

    }

    .sidebar-main-nav {
        position: relative;
        padding: 12px 40px 12px 12px;

        .btn-menu {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding-block: 12px;
            background-color: #f6f7fb;

            &.open {
                transform: rotate(180deg);
            }
        }
    }

    .sidebar-workspace {
        padding: 12px;
        border-top: 1px solid $clr-group-border;

        .workspace-section {
            gap: 7px;
            justify-content: start;
            padding-inline-start: 7px;
            margin-block-end: 10px;
            font-family: figtree-bold;

            span {
                font-size: rem(16px);
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            &>img {
                width: 18px;
                height: 18px;
            }

            &.open {
                background-color: $clr-btn-active;

                &>img {
                    transform: rotate(180deg);
                }
            }
        }

        .workspace-logo {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: $border-radius-small;
            background-color: $clr-workspace-logo;

            color: $clr0;

            img {
                position: absolute;
                bottom: -10px;
                right: -12px;
                height: 20px;
                width: 20px;
            }
        }

        .btn.clrblue {
            @include btn($type: clrblue);
            margin: 0;
            padding: 6px;
        }

        .sidebar-filter {
            grid-template-columns: 1fr auto;
            align-items: stretch;

            .search-section {
                justify-self: stretch;
                border: 1px solid $clr-group-border;
                border-radius: $border-radius-small;
                margin-inline-end: 12px;

                &.active {
                    border-color: $clr-btn-add;
                }

                .search-icon:hover {
                    background-color: transparent;
                    cursor: default;
                }

                input {
                    width: 55px;
                    border: none;
                    outline: none;
                    padding-block: 0;
                    background-color: transparent;
                }

                input[type="search"]::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    height: 0px;
                    // height: 16px;
                    width: 0px;
                    // width: 16px;
                    // background: url('path_to_custom_clear_button_image') no-repeat center center;
                    background-size: contain;
                    cursor: pointer;
                }
            }
        }
    }

    .sidebar-board-nav {
        padding-inline: 12px;

        a {
            grid-template-columns: auto auto 1fr;
            justify-content: stretch;
            gap: 0;

            img:first-of-type {
                width: 20px;
                height: 20px;
                margin-inline-end: 6px;
            }

            img:last-of-type {
                justify-self: end;
            }
        }

        .btn-board-menu {
            opacity: 0;
        }

        a:hover .btn-board-menu {
            opacity: 1;
            background-color: $clr-btn-hover;

            &:hover {
                background-color: $clr-btn-hover;
            }

            align-self: end;
        }
    }

}