.sidebar {
    background-color: $clr6;
    height: 100%;
    width: 200px;
    position: absolute;
    left: -170px;
    border-top-right-radius: 8px;

    &:hover {
        left: 0;
    }

    &.open {
        position: static;
    }

    .sidebar-main-nav {
        position: relative;
        padding: 12px 40px 12px 12px;
        border-bottom: 1px solid $clr-group-border;

        .btn-menu {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .sidebar-workspace {
        .workspace-section {}

        .workspace-logo {
            position: relative;
            background-color: $clr-workspace-logo;


            img {
                position: absolute;
            }
        }

        .btn.clrblue {
            @include btn($type: clrblue);
        }

        // .btn-add-group {
        //     height: 32px;
        //     width: 32px;
        //     background-color: $clr-btn-add;
        //     border-radius: $border-radius-small;
        // }
    }

    // .sidebar-btn {
    //     justify-content: start;
    //     padding: 6px 8px;
    //     height: 32px;
    //     border-radius: $border-radius-small;
    //     font-size: rem(14px);

    //     &:hover {
    //         background-color: $clr-btn-hover;
    //     }

    //     img {
    //         height: 100%;
    //         width: auto;
    //         margin-inline-end: 8px;
    //     }
    // }
}