.sidebar-board-nav {
    padding-inline: $sidebar-padding;

    &>* {
        height: 32px;
    }

    .btn {
        display: flex;
        justify-content: stretch;
        gap: 0;
        position: relative;
        padding-block: 6px;

        span {
            flex-grow: 1;
        }

        input {
            flex-grow: 1;
        }
    }

    .btn.active {
        background-color: $clr-btn-active;
    }

    span {
        margin-inline-start: 6px;
    }

    .btn:hover .btn-option-menu {
        opacity: 1;
        background-color: transparent;

        &:hover {
            background-color: $clr-btn-hover;
        }

        align-self: end;
    }

    button.btn-option-menu {
        opacity: 0;
        padding-inline: 0;
        height: 20px;
        width: 20px;

        svg {
            width: 18px;
            height: 18px;
        }
    }

}