.status-picker {
    position: relative;
    color: white;

    p {
        margin: 0;
    }

    .status-picker-modal {
        position: absolute;
        top: 40px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid black;
        z-index: 5;
    }
}