.task-preview-container {
    display: flex;

    .menu-container {
        position: relative;
        min-width: fit-content;


        .btn {
            width: 100%;
            height: 100%;
        }
    }

    .task-preview {
        display: flex;

        &:hover {
            background-color: $clr-task-hover;

            .task-title {
                background-color: $clr-task-hover;
            }
        }

        li {
            white-space: nowrap;
            height: 36px;

            &:not(.task-title) {
                text-align: center;
            }

            cursor: pointer;
        }
    }
}