.task-preview-container {
    display: flex;

    &.add-task:hover .color-display {
        opacity: 1;
    }

    .task-preview {
        display: flex;

        &:hover:not(.active) {
            background-color: $clr-task-hover;

            .task-title:not(.active),
            .task-selection:not(.active) {
                background-color: $clr-task-hover;
            }

            .status-picker {
                opacity: .8;
                box-shadow: -3px 0px 23px 2px rgba(255, 255, 255, 0.32);
            }

        }

        li {
            white-space: nowrap;
            height: 36px;

            &:not(.task-selection) {
                cursor: pointer;
            }

            &:not(.task-title) {
                text-align: center;
            }
        }


        .task-title {

            .focused-input {
                width: 100%;
            }

        }
    }
}