.task-list {
    display: flex;
    flex-direction: column;

    .task-header-list {
        display: flex;

        li {

            padding-block: 0;
            height: 35px;
        }
    }

    &ul,
    ul {
        outline: $clr-group-border .5px solid;
    }

    li {

        display: flex;
        align-items: center;

        &:not(.task-preview .task-title) {
            justify-content: center;

        }

        &:not(.task-title) {
            flex: 1;
            max-width: 199.5px;
        }

        outline: $clr-group-border 1px solid;
        padding: 10px;
    }

    .task-title {
        flex: 2;
    }


}