.task-list {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    .task-header-list {
        display: flex;
        margin-inline-start: 36px;

        li {

            padding-block: 0;
            height: 35px;
        }
    }

    ul:not(.task-preview-container) {

        border: $clr-group-border 0.5px solid;
        border-inline-end: unset;
        border-block-end: unset;

        &:not(:last-child) {}


    }

    li {

        display: flex;
        align-items: center;

        &:not(.task-preview .task-title) {
            justify-content: center;

        }

        border-inline-end: $clr-group-border .5px solid;
        padding: 10px;
    }

    .task-preview-container:last-of-type {
        ul {
            border-block-end: $clr-group-border 0.5px solid;
        }
    }

    .task-title-container {
        display: flex;
        min-width: 505px;
        max-width: 505px;

        .task-title {
            display: flex;
            width: 100%;
            background-color: white;

            &.single-task {
                margin-inline-start: 26px;
            }

            &:hover:not(.task-header-list .task-title) {
                background-color: $clr-task-hover;
            }
        }


    }





}