.task-list {
    display: flex;
    flex-direction: column;

    .task-header-list {
        display: flex;

        li {
            text-align: center;

        }
    }

    &ul,
    ul {
        outline: $clr-group-border .5px solid;
    }

    li {

        &:not(.task-title) {
            flex: 1;
            max-width: 199.5px;
        }

        outline: $clr-group-border 1px solid;
        padding: 10px;
    }

    .task-title {
        flex: 2;
    }


}