.task-preview {
    display: flex;

    &:hover {
        background-color: $clr-task-hover;
    }

    li {
        &:not(.task-title) {
            text-align: center;
        }

        &:first-child {
            flex: 2;
        }

        cursor: pointer;
    }
}