.user-msg {
    color: white;
    padding: 8px;
    font-size: rem(14px);
    font-family: figtree;
    position: fixed;
    top: 26px;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 40;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
    background-color: #222;
}

.user-msg.success {
    background-color: $clr-success;
}

.user-msg.error {
    background-color: $clr-err;
}