.workspace-page {
    max-height: calc(100dvh - 48px);
    overflow: scroll;

    .welcome-header {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        height: 75px;
        width: 100%;
        background-color: $clr0;
        box-shadow: 0px 3px 12px #e6e9ef;
        border-top-left-radius: 8px;

        .titles-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            .first-title {
                font-size: rem(14px);
                margin-bottom: 4px;

                @media (max-width: 440px) {
                    display: none;
                }
            }

            .second-title {
                font-weight: 500;
                font-size: rem(16px);
                line-height: 22px;
            }
        }
    }

    .content-container {
        background-color: $clr-bg-workspace;
        min-height: calc(100dvh - 48px - 75px);
        // height: 100dvh;
        // min-height: 100dvh;
        grid-template-columns: 1fr;
        gap: 10px;

        @media (max-width: 660px) {
            margin-inline-end: 10px;
        }
    }

    .boards-container {
        // height: 100%;

        &.open {
            min-height: calc(100dvh - 48px - 115px);
        }

        height: fit-content;
        padding: 24px;
        margin: 16px;
        border-radius: 8px;
        background-color: $clr0;
        box-shadow: 0px 3px 12px #e6e9ef;
    }

    .collapsible-header-wrapper {
        svg {
            width: 12px;
            height: 12px;
        }

        p {
            margin-inline-start: 10px;
        }

        .arrow-container.rotated {
            transform: rotate(-90deg);
        }
    }

    .workspace-aside {
        margin-top: 16px;
        margin-inline-end: 16px;

        @media (max-width: 660px) {
            display: none;
        }

        .explore-templates-container {
            position: relative;
            display: inline-block;
            width: 100%;
            background-color: $clr0;
            border-radius: 8px;
            box-shadow: 0px 3px 12px #e6e9ef;
            padding: 8px;
            margin-block-end: 24px;

            button {
                text-transform: none;
            }

            img {
                width: 100%;
            }

            .banner-content-wrapper {
                margin-block-start: 8px;

                .banner-text {
                    // margin-block-end: 8px;
                    white-space: unset;
                }

                .banner-button {
                    width: 100%;
                }
            }
        }

        .get-inspired-content-wrapper {
            .get-inspired-text {
                margin-block-end: 16px;
            }

            .navigation-card-component {
                display: flex;
                align-items: center;
                padding: 16px;
                border-radius: 8px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
                background-color: $clr0;
                margin-block: 24px;

                &:hover {
                    box-shadow: 0px 6px 20px rgba(0, 0, 0, .2);
                }

                img {
                    width: 48px;
                    height: 48px;
                    border-radius: 8px;
                }

                .card-content {
                    margin-left: 16px;
                }
            }
        }
    }

    .workspace-boards-list {
        position: relative;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 24px;
        padding: 16px 16px 24px 16px;

        li {
            overflow: unset;
        }
    }

    .workspace-board-preview {
        border: 1px solid $clr-group-border;
        cursor: pointer;
        padding: 8px;
        border-radius: 4px;

        &:hover {
            position: relative;
            z-index: 1;
            border-color: transparent;
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        }

        .board-title {
            padding-inline-start: 6px;
            padding-block-start: 1px;
        }

        img {
            margin-block-end: 6px;
        }
    }
}