.dynamic-dialog {
    position: fixed;
    inset: 0;
    z-index: 40;

    .black-screen {
        width: 100%;
        height: 100%;
        background-color: rgba(41, 47, 76, 0.7);
    }

    .dialog-content {
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        &:has(.about-us) {
            border-radius: 16px;
            overflow: auto;
        }

    }

}