.dynamic-dialog {
    dialog {
        align-content: center;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        padding: 2.5rem;
        margin: 0;
        border: none;
        border-radius: $border-radius-small;
        text-align: justify;
        color: $clr-btn-hover;
        color: $clr-btn-hover;

        &[open] {
            display: grid;
            justify-items: center;
        }

        .close {
            position: absolute;
            right: 20px;
            top: 20px;
            background-color: unset;
            border: none;
            font-size: inherit;

            &:hover {
                color: $clr-btn-hover;
            }
        }

        input::placeholder {
            text-align: center;
        }

        &::backdrop {
            background-color: rgba(128, 128, 128, 0.63);
        }

        .profile {
            width: 10em;
            border-radius: 50%;
        }

        h3 {
            display: flex;
            align-items: center;

            a {
                margin-inline-start: 15px;
            }
        }
    }
}