@import '../setup/typography.scss';

* {
    box-sizing: border-box;
}

html {
    font-family: figtree;
    font-size: 12px;
    line-height: lh(23px);

    @include for-narrow-layout {
        font-size: 14px;
    }
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: poppins-medium;
    font-size: rem(24px);
    font-weight: unset;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img {
    width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $clr-font;
    font-family: figtree;
}

svg {
    fill: $clr-light-font;
}

input {
    width: 100%;
    max-width: 100%;
}

.btn {
    @include btn;
}


@include for-normal-layout {

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #C4C4C4 #FFFFFF;
    }

    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
        height: 8px;
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        border-radius: 0px;
        background-color: #FFFFFF;
    }

    *::-webkit-scrollbar-track:hover {
        background-color: #FFFFFF;
    }

    *::-webkit-scrollbar-track:active {
        background-color: #FFFFFF;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #C4C4C4;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #C4C4C4;
    }

    *::-webkit-scrollbar-thumb:active {
        background-color: #C4C4C4;
    }
}