@import '../setup/typography.scss';

* {
    box-sizing: border-box;
}


html {
    font-family: figtree;
    // font-size: rem(14px);
    font-size: 14px;
    line-height: lh(23px);
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: poppins;
    margin: 0;
    // margin: 0 0 0.6em;
    line-height: 1;
    font-size: rem(24px);
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: $clr-font;
    font-family: figtree;
}

.btn {
    @include btn;
}

// a:hover {
//     text-decoration: underline;
// }