// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    // .confetty {
    //         position: absolute;
    //             left: calc((100% - 139px)/2);
    //             right: calc((100% - 139px)/2);
    //             top: 0;
    //             bottom: 0;
    //             background-position: left center;
    //             background-size: calc(139px * 75);
    //             animation: confetti calc(75s / 25) steps(75);
    //             animation-fill-mode: forwards;
    // }


    // @keyframes confetti {
    //     0% {
    //         background-image: url("/images/status_animations/confetti_animation.png")
    //     }

    //     99.9% {
    //         background-image: url("/images/status_animations/confetti_animation.png");
    //         background-position: calc(100% * -75)
    //     }
    // }

    // .status-cell-component .confetti-sprite-animation.animated-status {
    //     position: absolute;
    //     left: calc((100% - 139px)/2);
    //     right: calc((100% - 139px)/2);
    //     top: 0;
    //     bottom: 0;
    //     background-position: left center;
    //     background-size: calc(139px * 75);
    //     animation: confetti calc(75s / 25) steps(75);
    //     animation-fill-mode: forwards
    // }

    // @keyframes on_point {
    //     0% {
    //         background-image: url("/images/status_animations/on_point_animation.png")
    //     }

    //     99.9% {
    //         background-image: url("/images/status_animations/on_point_animation.png");
    //         background-position: calc(100% * -75)
    //     }
    // }

    // .status-cell-component .on-point-sprite-animation.animated-status {
    //     position: absolute;
    //     left: calc((100% - 138px)/2);
    //     right: calc((100% - 138px)/2);
    //     top: 0;
    //     bottom: 0;
    //     background-position: left center;
    //     background-size: calc(138px * 75);
    //     animation: on_point calc(75s / 25) steps(75);
    //     animation-fill-mode: forwards
    // }
}

// grid helpers

.grid {

    display: grid;

    &.column {
        grid-auto-flow: column;
    }

    &.place-center {
        place-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}

.relative {
    position: relative;
}

.reset {
    all: unset;
}

.active {
    background-color: $clr-btn-active;
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// sticky

.sticky-left {
    position: sticky;
    left: 0;
}

// .sticky-left-10 {
//     position: sticky;
//     left: 10px;
// }

.sticky-left-36 {
    position: sticky;
    left: 36px;
}

.sticky-left-40 {
    position: sticky;
    left: 40PX;
}

.svg-inherit-color svg {
    fill: inherit;
    height: auto;
}

.focused-input {
    border-radius: $border-radius-small;
    outline: 1px solid $clr-btn-add;
}

.editable-txt {
    border-radius: $border-radius-small;
    padding-inline: 2px;
    cursor: text;

    &:hover {
        outline: 1px solid $clr-btn-border;
    }
}

.full-opacity {
    opacity: 1;
}

.general-modal {
    background-color: $clr0;
    box-shadow: 0 4px 17px 6px rgba(0, 0, 0, .1);
    border-radius: calc($border-radius-small * 2);
}

.black-blue-input {
    border-radius: $border-radius-small;
    padding: 8px 16px;
    margin-block-end: 15px;
    outline: 1px solid $clr-btn-border;
    transition: .2s outline-color;

    &:focus {
        outline-color: $clr-btn-add;
    }

    &:hover {

        outline-color: black;
    }

}

.highlight {
    background-color: $clr-btn-active;
    color: $clr-font;
    font-style: italic;
    border-radius: 2px;
    // padding-inline: 2px;
}

.user-img {
    border: 2px solid white;
    border-radius: 50%;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
}

.extra-members-box {
    align-items: center;
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: .75rem;
    height: 28px;
    justify-content: center;
    min-width: 28px;
    max-width: 28px;
}

.full-width {
    width: 100%;
}

.subgrid {
    display: grid;
    grid-template-columns: subgrid;
}

.full-grid-column {
    grid-column: 1 / -1;
}

.grid-column-table-content {
    grid-column: 2 / -1;
}

.pointer {
    cursor: pointer;
}

.disabled,
.disabled * {
    cursor: not-allowed !important;
    opacity: .7;
}

// .fast-animation {
//     animation-duration: .2s !important;
// }

//refernce to after caret from top
// &::after {
//     content: "";
//     position: absolute;
//     border-style: solid;
//     border-width: 0 10px 10px 10px;
//     border-color: transparent transparent white transparent;
//     top: -10px;
//     left: 50%;
//     transform: translateX(-50%);
// }