.main-layout {
    grid-template-rows: 48px 1fr;
    height: 100dvh;

    .content-container {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 0 1fr;
        padding: 0;
        background-color: $clr-bg-header;

        @include for-narrow-only-layout {

            &.mobile-hp {
                grid-template-columns: 1fr 0;

                .sidebar {
                    // transition: min-width 6s;
                    min-width: 100vw;
                }

                .board-filter {
                    display: none;
                }
            }
        }

        .sidebar-container {
            padding: 0;
        }

        @include for-narrow-layout {
            // grid-template-columns: minmax(30px, auto) 1fr;
            grid-template-columns: var(--sidebar-width) 1fr;
            gap: 10px;
            position: relative;
            transition: grid-template-columns 250ms;

            &:has(.sidebar.open) {
                transition: unset;
            }
        }

        .loader-container {
            background-color: $clr0;
        }

        .myday-loader {
            width: 100px;
            height: 100px;
        }

        .empty-search-container {
            background-color: $clr0;
            text-align: center;
            padding-block-start: em(56px, 14px);
            padding-inline: em(16px, 14px);
            color: $clr-light-font;
        }


        .empty-search {

            h4 {
                font-size: em(18px, 14px);
                padding-block-end: em(10px, 14px);
            }

            p {
                font-size: em(16px, 14px);
                line-height: lh(24px);
                white-space: normal;
            }

            img {
                width: 60%
            }

        }
    }

}

.main-container {
    display: grid;
    grid-template-columns: 32px 1fr 32px;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // @include for-narrow-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    // }

    // @include for-normal-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    // }

    // @include for-wide-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    // }
}

[role="button"] {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    &.dragged-task {
        grid-template-columns: var(--board-grid);
    }
}

//tablet and down be like that
// @media (max-width: $narrow-breakpoint) {
//     .main-layout {
//         .content-container {
//             overflow: auto;
//         }
//     }
// }