.main-layout {
    grid-template-rows: 48px 1fr;
    height: 100dvh;

    .content-container {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 0 1fr;
        padding: 0;
        background-color: $clr-bg-header;

        @include for-narrow-only-layout {

            &.mobile-hp {
                grid-template-columns: 1fr 0;

                .sidebar {
                    // transition: min-width 6s;
                    min-width: 100vw;
                }
            }
        }

        .sidebar-container {
            padding: 0;
        }

        @include for-narrow-layout {
            grid-template-columns: minmax(30px, auto) 1fr;
            gap: 10px;
            position: relative;
        }
    }

}

.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // @include for-narrow-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    // }

    // @include for-normal-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    // }

    // @include for-wide-layout {
    //     grid-template-columns:
    //         minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    // }
}

[role="button"] {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    &.dragged-task {
        grid-template-columns: var(--board-grid);
    }
}

//tablet and down be like that
// @media (max-width: $narrow-breakpoint) {
//     .main-layout {
//         .content-container {
//             overflow: auto;
//         }
//     }
// }