.automation-modal {
    background-color: white;
    padding: 15px;
    border-radius: 16px;
    color: $clr-font;
    user-select: none;

    header {
        justify-content: space-between;
        margin-block-end: 15px;
        border-block-end: 1px solid $clr-group-border;
        padding-block-end: 10px;

        .logo {
            width: 32px;
            margin-inline-end: 10px;
        }

        button svg {
            width: 30px;
            height: 30px;

            @include for-narrow-layout {
                width: 35px;
                height: 35px;
            }

            &:hover path {
                stroke: $clr-group-border;
            }

            path {
                stroke-width: 1;
            }
        }

    }

    .disabled-msg {
        text-align: center;
        margin-block-end: 40px;

        @include for-narrow-only-layout {
            text-wrap: wrap;
        }
    }

    .google-btn {
        background-color: white;
        color: $clr-font;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid $clr-btn-border;
        width: 270px;
        transition: box-shadow .2s;
        margin-block: 15px;
        margin-inline: auto;

        @include for-narrow-layout {
            width: 400px;

        }


        &:hover {
            background-color: $clr-btn-hover;
        }

        .google-logo-caontainer {
            margin-inline-end: 8px;

            svg {
                width: 22px;
                height: 22px;
            }
        }

        .txt-container {
            font-size: rem(16px);
        }
    }

    span {
        font-family: poppins-medium;
    }

}