.automation-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .automation-container {
        justify-content: space-between;
        padding: 16px;
        border-radius: 8px;
        outline: 1px solid $clr-group-border;
        width: 303px;
        height: 259px;

        transition: .1s;

        &:hover {
            outline-color: transparent;
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        }

        .info-container {
            width: 100%;
            margin-block-end: 56px;
            font-size: rem(18px);

            .icon-container {
                width: 40px;
                height: 40px;
                margin-block-end: 24px;
                border: 1px solid $clr-btn-border;
                border-radius: 50%;

                img {
                    width: 23px;
                }

            }

            .arrow-container {
                height: 40px;
                margin-inline: 8px;

                svg {
                    width: 16px;
                    fill: green;
                }
            }

            p {
                white-space: wrap;
            }
        }

        .btn {
            width: 100%;
            height: 32px;
            outline: 1px solid $clr-btn-border;

            &.checked {
                background-color: $clr-btn-hover;

                &:hover {
                    background-color: #cfd2df;
                }
            }
        }
    }
}