.dynamic-absolute-modal {
    position: absolute;
    z-index: 110;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;

    p:not(.username),
    span {
        overflow: initial;
        text-overflow: initial;

    }


    //absolute opt
    // .caret {
    //     position: absolute;
    //     border-style: solid;
    //     z-index: 10; //for it to overlap its brother shadow
    //     left: 50%;
    //     transform: translateX(-50%);

    //     &.caret-top {
    //         border-width: 0 10px 10px 10px;
    //         border-color: transparent transparent $clr0 transparent;
    //         top: -10px;
    //     }

    //     &.caret-bottom {
    //         border-width: 10px 10px 0 10px;
    //         border-color: $clr0 transparent transparent transparent;
    //         bottom: -10px;
    //     }

    // }

    //non abs option
    .caret {
        border-style: solid;
        width: fit-content;
        margin: auto;
        z-index: 10; //for it to overlap its brother shadow

        &.caret-top {
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $clr0 transparent;

            &.colored {
                border-color: transparent transparent $clr-font transparent;
            }
        }

        &.caret-bottom {
            border-width: 10px 10px 0 10px;
            border-color: $clr0 transparent transparent transparent;
            order: 1;

            &.colored {
                border-color: $clr-font transparent transparent transparent;
            }
        }



    }
}