.info-modal {

    .board-description-container {
        padding: 16px 32px 32px 32px;
        background-color: white;
        color: $clr-font;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        height: 550px;

        .editable-txt-container {
            min-width: 460px;
            max-width: 460px;
        }

        .title-container .editable-txt-container {
            font-size: rem(32px);
            font-family: poppins-medium;

            .editable-txt,
            .focused-input {
                padding-inline: 4px;
            }
        }

        .description-container {
            height: 100%;
            margin-block: 24px 20px;


            .editable-txt-container {
                height: 100%;
                font-family: figtree;
                color: $clr-light-font;

                .editable-txt {
                    height: 100%;

                    span {
                        display: block;
                        width: 90%;
                    }

                    &:hover {
                        outline-style: dashed;
                    }
                }

                .focused-input {
                    min-height: 106px;
                    align-items: flex-start;
                    outline-color: $clr-btn-border;
                }

                .editable-txt,
                .focused-input {
                    border-radius: unset;
                    padding: 2px;
                }
            }
        }

        .feedback {
            width: fit-content;
            padding: 8px;
            fill: $clr-font;

            svg {
                margin-inline-end: 8px;
            }

            &:hover {
                color: #0073ea;
                fill: #0073ea;
            }
        }
    }

    .board-data-container {
        background-color: $clr-task-hover;
    }
}