.integration-modal {
    background-color: white;
    padding: 15px;
    border-radius: 16px;

    h1 {
        margin-block-end: 15px;
    }

    .google-btn {
        background-color: #4285f4;
        color: white;
        padding: 1px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
        transition: box-shadow .2s;

        &:hover {
            box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
        }

        .google-logo-caontainer {
            background-color: white;
            padding: 15px;

            svg {
                width: 22px;
                height: 22px;
            }
        }

        .txt-container {
            padding: 15px;
            font-size: rem(16px);
            height: 52px;
        }
    }


    .integration-container {

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;

            input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;

                &:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                &.round {
                    border-radius: 34px;
                }

                &.round:before {
                    border-radius: 50%;
                }
            }

            input:checked+.slider {
                background-color: #4285f4;
            }

            input:focus+.slider {
                box-shadow: 0 0 1px #4285f4;
            }

            input:checked+.slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }


        }
    }

}