.label-picker-preview {
    overflow: visible;

    .editable-txt-container {
        max-width: 100%;
        width: 100%;

        .focused-input,
        .editable-txt {
            padding: 4px;
            border: 1px solid #e6e9ef;

        }

        .focused-input input {
            width: 114px;
            margin-inline-start: 7px;
        }

        .editable-txt {
            display: flex;
            align-items: center;

            span {
                margin-inline-start: 7px;

            }
        }

    }

    .label-color-display {
        min-width: 24px;
        min-height: 24px;
        border-radius: 4px;
    }
}