.member-picker-modal {
    width: 270px;
    min-height: 155px;

    @include for-narrow-layout {
        width: 360px;
    }

    .chosen-members-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        align-items: center;
        padding-inline: 10px;
        padding-block-start: 10px;

        @include for-narrow-layout {
            grid-template-columns: repeat(3, 1fr);
            padding-inline: 16px 5px;
            padding-block-start: 16px;
        }

        .chosen-member {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 4px;
            text-align: center;
            background-color: $clr-chosen-member;
            border-radius: 20px;
            color: #333333;

            @include for-narrow-layout {
                width: fit-content;
            }

            .user-img,
            .extra-members-box {
                min-width: 24px;
                min-height: 24px;
                max-width: 24px;
                max-height: 24px;
                margin-inline-end: 4px;
                border: 2px solid $clr-chosen-member;
            }

            .username {
                font-size: rem(12px);
                line-height: 24px;
            }

            .remove-btn {
                font-size: rem(11px);
                margin-inline-end: 2px;
                min-height: 24px;
            }

        }

    }

    .new-member-picker-container {
        padding: 16px 14px;

        .suggested-people-title {
            margin-block: 8px 4px;
            color: $clr-light-font;
        }

        .dynamic-input {
            justify-content: space-between;
            padding: 2px 2px 2px 16px;
            margin-inline: 0;
        }


    }


}