.sort-picker {
    padding: 20px 16px;

    .title {
        margin-block-end: rem(24px);
        font-size: rem(15px);
    }

    .selects {
        display: grid;
        grid-auto-flow: column;
        gap: rem(8px);
        margin-block-end: rem(16px);
    }

}