.sidebar {
    background-color: $clr0;
    height: 100%;
    width: 250px;
    position: absolute;
    left: -220px;
    border-top-right-radius: 8px;
    transition: left 150ms;

    &>.sidebar-workspace,
    .sidebar-board-nav,
    .app-sidebar-resizer {
        opacity: 0;
    }

    &:hover {
        left: 0;
        z-index: 35;
        box-shadow: 0 6px 20px rgba(0, 0, 0, .2);

        &>.sidebar-workspace,
        .sidebar-board-nav,
        .app-sidebar-resizer {
            opacity: 1;
        }

        .btn-menu {
            opacity: 1;
        }
    }

    &.open {
        position: static;

        &:not(:hover) {
            .btn-menu {
                opacity: 0;
            }
        }

        &>.sidebar-workspace,
        .sidebar-board-nav,
        .app-sidebar-resizer {
            opacity: 1;
        }

        &:hover {
            box-shadow: none;
        }

    }

    /* ResizableSidebar.css */

    .app-sidebar-resizer {
        width: 5px;
        height: 100%;
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        cursor: col-resize;
    }

    .app-sidebar-resizer.resizing {
        user-select: none;
    }

    @import './sidebar-main-nav.scss';
    @import './sidebar-workspace.scss';
    @import './sidebar-board-nav.scss';
}