.sidebar-main-nav {
    position: relative;
    padding: 12px 40px 12px 12px;

    .btn-menu {
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;

        width: 30px;
        height: 38px;
        margin: 0;
        padding: 8px;

        background-color: #f6f7fb;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;

        &.open {
            transform: rotate(180deg);
        }
    }

    .btn-nav {
        height: 32px;

        // &.active {
        //     background-color: $clr-btn-active;
        // }

        img {
            height: 20px;
            width: 20px;
        }
    }
}