.sidebar-workspace {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 12px;
    padding: $sidebar-padding;
    padding-inline-end: 16px;
    border-top: 1px solid $clr-group-border;

    &>svg {
        place-self: center;
    }

    .workspace-section {
        gap: 7px;
        justify-content: start;
        grid-template-columns: auto auto 1fr;
        height: 32px;

        padding-inline: 8px;
        margin-inline-end: 12px;
        font-family: figtree-bold;

        div:last-of-type {
            justify-self: end;
            align-self: center;
        }

        span {
            font-size: rem(16px);
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            align-self: center;
        }

        &>img {
            width: 18px;
            height: 18px;
        }

        &.open {
            background-color: $clr-btn-active;

            &>img {
                transform: rotate(180deg);
            }
        }
    }

    .sidebar-workspace-nav {

        .home-icon svg {
            width: 20px;
            height: 20px;
        }

        .angle-down-container svg {
            width: 13px;
            height: 13px;
        }
    }

    .workspace-logo {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: $border-radius-small;
        background-color: $clr-workspace-logo;

        color: $clr0;

        div {
            position: absolute;
            bottom: -10px;
            right: -12px;
            height: 20px;
            width: 20px;
        }
    }

    .btn-option-menu {
        padding: 6px;
    }

    .btn.clrblue {
        @include btn($type: clrblue);
        margin: 0;
        padding: 6px;
        height: 32px;

        svg {
            @include for-narrow-only-layout {
                width: 30px;
                height: 30px;
            }

            fill: $clr0;
        }

        @include for-narrow-only-layout {
            position: fixed;
            bottom: 30px;
            right: 30px;
            border-radius: 10px;
            height: auto;
            // box-shadow: 0 4px 17px 0px $clr-btn-add;
        }
    }

    .sidebar-filter {
        @include for-narrow-only-layout {
            grid-column: 1/-1;
        }

        grid-template-columns: 1fr auto;
        align-items: stretch;

        .search-section {
            justify-self: stretch;
            outline: 1px solid $clr-group-border;
            border-radius: $border-radius-small;
            margin-inline: 3px 12px;

            &.focus {
                outline-color: $clr-btn-add;
            }

            .search-icon {
                padding: 6px;
                padding-inline-end: 3px;
            }

            .search-icon:hover {
                background-color: transparent;
                cursor: default;
            }

            input {
                width: 55px;
                border: none;
                outline: none;
                padding-block: 0;
                background-color: transparent;
            }

            input[type="search"]::-webkit-search-cancel-button {
                -webkit-appearance: none;
                height: 0px;
                // height: 16px;
                width: 0px;
                // width: 16px;
                // background: url('path_to_custom_clear_button_image') no-repeat center center;
                background-size: contain;
                cursor: pointer;
            }
        }
    }
}