.board-details {
    position: relative;
    background-color: $clr0;
    color: $clr-font;
    border-top-left-radius: 8px;
    user-select: none;
    overflow: auto;
    height: calc(100dvh - 48px);
    padding-block-end: 100px;

    @include for-narrow-layout {
        padding-block-end: 40px;
    }

    &.overflow-hidden {
        overflow: hidden;
    }

    .bottom-shadow {
        .task-header-list {

            .task-title-container,
            .group-titles-list {

                box-shadow: 1px 5px 15px -8px $clr-btn-border;
                border-block-end: $clr-group-border 0.5px solid;
            }

            .task-row-placeholder {
                box-shadow: 0px 14px white;
            }

            .color-display {
                border-bottom-left-radius: 8px;
            }
        }

    }


    .add-group-btn {
        width: fit-content;
        border: 1px solid $clr-btn-border;
        margin-inline-start: 40px;

        img {
            margin-inline-end: 8px;
        }

        p {
            margin-block-start: 2px;
        }
    }
}