.board-details {
    position: relative;
    background-color: $clr6;
    color: $clr-font;
    border-top-left-radius: 8px;
    user-select: none;
    overflow: auto;
    height: calc(100dvh - 48px);
    padding-block-end: 40px;

    &.overflow-hidden {
        overflow: hidden;
        padding-right: 10px;
    }

    .board-content {

        .add-group-btn {
            width: fit-content;
            border: 1px solid $clr-btn-border;
            margin-inline-start: 40px;

            img {
                margin-inline-end: 8px;
            }
        }
    }
}