.home-page {

    h1,
    h2,
    span {
        overflow: initial;
        text-overflow: initial;
        white-space: initial;
    }

    .home-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: unset;

        .btn-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-block-end: 90px;

            .btn-get-started {
                min-width: 130px;
                padding: 16px 30px 16px 31px;

                .get-started-txt {

                    font-size: rem(16px);
                }

                .arrow-icon {
                    right: 1.3rem;
                }

                &:hover .arrow-icon {
                    right: 0.9rem;
                }

            }

            .no-credit-card-txt {
                margin-top: 1rem;
                color: #676879;

                span {
                    margin-inline: 15px;
                }
            }

        }
    }

    .main-titles-container {
        text-align: center;
        margin-block-end: 55px;
        max-width: 50em;
        padding-block-start: 4em;

        .home-main-title {
            font-size: rem(64px);
            font-family: poppins-semi;
            padding-block-end: 38.72px;
            line-height: 72px;
        }

        p {
            font-size: rem(22px);
            font-family: poppins-light;
        }

    }

    .home-cards-options {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-block-end: rem(20px);


        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #c3c6d4;
            border-radius: 0.5em;
            height: 7.5em;
            margin: 0.5em;
            padding: 0.5em;
            padding-block-start: 0.4375em;
            text-align: center;
            width: rem(124px);
            height: rem(124px);
            // width: 7.5em;

            img {
                height: 2.5em;
                width: 2.5em;
            }

            span {
                color: #333333;
                font-size: 1rem;
                font-family: poppins-light;
                opacity: .85;
                padding-top: 4px;
            }

            &:hover {
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        border-color: nth($card-colors, $i);
                    }
                }
            }
        }
    }

    .btn-container {
        svg {
            width: 20px;
            height: 15px;
        }
    }

    .home-first-img-container {
        padding-top: rem(45px);
        // width: 100vw;

        img {
            overflow-x: hidden;
            max-width: 100%;
        }

    }

    .sponsers-section {
        padding-block: 4.375em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 1.375rem;
            line-height: 32px;
            font-weight: 400;
            padding-block-end: 2.7em;
        }

        .sponsers-imgs-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1.5em;
            // max-width: 770px;

            img {
                width: 6.875em;
            }

            .oxy-img,
            .carrefour-img {
                width: 4.375em;
            }
        }
    }

    .boost-your-team {
        justify-content: center;
        padding: 90px;

        & div>div,
        h2 {
            max-width: 620px;
        }

        &>div {
            padding-inline: 32px;
        }

        h2 {
            width: 50%;
            text-align: left;
            font-size: 2.25rem;
            line-height: 48px;
            font-family: poppins-bold;
            padding-inline-end: 60px;
            color: #333;
        }

        .boost-your-team-cta {
            width: 50%;

            span {
                font-size: rem(16px);
                font-family: poppins-light;
                line-height: 40px;
                word-break: break-word;
            }

            .btn-get-started {
                margin-block-start: 32px;
                padding: 6px 50px 6px 32px;
                font-weight: 300;
                line-height: 17px;
                margin-bottom: 16px;

                .get-started-txt {
                    padding: 0;
                }

                svg {
                    margin-inline-end: 10px;
                }
            }
        }


        @media (max-width: 991px) {
            &>div {
                flex-direction: column;
            }

            h2 {
                width: 100%;
                padding: 0 60px 60px 60px;
                overflow: initial;
                text-overflow: initial;
                white-space: initial;
                text-align: center;
            }

            .boost-your-team-cta {
                width: 100%;
                text-align: center;

                div {
                    justify-content: center;
                }
            }
        }

        @media (max-width: 720px) {
            padding-inline: 0;

            h2 {
                padding-inline: 0;
            }
        }
    }

    .preview-images-section {
        padding-bottom: 64px;

        .masonry-grid {
            max-width: 1440px;
            margin: auto;

            .grid-container {
                // padding-left: 32px;
                display: grid;
                grid-template-areas:
                    "column1 battery phone automation comment ."
                    "column2 battery phone . . . "
                    "column2 battery phone dashboard dashboard dashboard"
                    "intergration intergration phone dashboard dashboard dashboard"
                    ". pie phone dashboard dashboard dashboard"
                    ". . . dashboard dashboard dashboard";
                grid-template-columns: 12.64vw 11.54vw 14.79vw 14.72vw 12.64vw 18%;
                grid-template-rows: 5vw 2.5vw 1.25vw 6.39vw 9.17vw auto;
                grid-gap: 1.67vw;

                @media (max-width: 991px) {
                    display: grid;
                    grid-template-areas:
                        "phone automation comment"
                        "phone . ."
                        "phone column1 battery"
                        "phone column2 battery"
                        "phone integration integration";
                    grid-template-columns: 33% 29% 28%;
                    grid-template-rows: 18% 2% 18% 18% 22%;
                    grid-gap: 4%;
                    padding: 10px;
                    padding-inline-start: 24px;
                }

                .item {
                    filter: drop-shadow(-10.8923px 14.523px 35.0973px rgba(29, 140, 242, 0.2));
                    z-index: 1;

                    img {
                        border-radius: 8px;
                    }
                }

                .item1 {
                    grid-area: column1;
                }

                .item2 {
                    grid-area: column2;
                }

                .item3 {
                    grid-area: battery;

                }

                .item4 {
                    grid-area: intergration;
                }

                .item5 {
                    grid-area: pie;
                }

                .item6 {
                    grid-area: phone;
                }

                .item7 {
                    grid-area: automation;
                }

                .item8 {
                    grid-area: comment;
                }

                .item9 {
                    grid-area: dashboard;
                }

                @media (min-width: 991px) {
                    justify-content: center;
                }
            }
        }
    }

    .footer-section {
        height: 312px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        color: rgb(255, 255, 255);
        background: #181b34;
        padding: rem(64px) 0;
        margin-block-start: rem(100px);
        font-family: poppins-light;

        h2 {
            font-size: rem(28px);
            line-height: 40px;
            font-family: poppins-light;

            span {
                font-family: poppins-bold;
                font-size: rem(28px);
            }
        }

        p {
            font-size: rem(18px);
            line-height: 32px;
            margin-bottom: 20px;

            span {
                margin-inline: 15px;
            }
        }

        .btn-get-started {
            padding: 14px 40px 14px 36px;

            .get-started-txt {
                font-size: 1rem;
            }

            .arrow-icon {
                right: 1.6rem;
            }

            &:hover .arrow-icon {
                right: 1.2rem;
            }

        }

    }
}