.task-details {
    // padding: 20px;
    background-color: $clr0;
    position: fixed;
    top: 48px;
    bottom: 0;
    right: 0;
    // right: -760px;
    width: 60%;
    max-width: 760px;
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: right 150ms cubic-bezier(0, 0, 0.35, 1);

    @include for-narrow-only-layout {
        max-width: 100%;
        width: 100%;
    }

    // &.open {
    //     // width: 0;

    //     @include for-narrow-only-layout {
    //         max-width: 100%;
    //         width: 100%;
    //     }
    // }

    .panel-header>button {
        margin: 20px 20px 0 16px;
        justify-self: start;
        padding: 0;

    }

    .panel-title-section {
        margin-inline: 20px;
        overflow: hidden;
        text-overflow: ellipsis;

        .title {
            font-size: rem(18px);
        }

        .panel-members {
            position: relative;
            padding-inline: 10px 16px;
            margin-inline-end: 12px;

            &::after {
                content: "";
                height: 16px;
                border-right: 1px solid;
                border-color: $clr-group-border;
                position: absolute;
                top: 8px;
                right: 0;
            }

            img {
                margin-inline-end: -10px;
            }
        }
    }

    .panel-subjects {
        padding-inline: 24px;
        margin-block-start: 20px;
        border-bottom: 1px solid $clr-group-border;

        button {
            font-size: rem(14px);
            position: relative;
            margin-block-end: 4px;
            padding: 8px 12px;

            &::after {
                content: "";
                height: 16px;
                border-right: 1px solid;
                border-color: $clr-group-border;
                position: absolute;
                top: 8px;
                right: 0;
            }
        }

        .btn.active {
            background-color: transparent;

            &::before {
                content: "";
                height: 2px;
                width: 99%;
                position: absolute;
                bottom: -4px;
                background-color: $clr-btn-add;
            }

            // background-color: gray;
        }
    }

    .panel-update {
        padding-block-end: 140px;
        overflow-y: scroll;
        height: calc(100dvh - 48px);
        align-content: start;

        .input-container {
            padding: 30px 20px 42px;

            &.contains-txt {
                padding-block-end: 5px;
            }
        }

        input {
            padding: 10px 20px;
            font-size: rem(16px);
            border-radius: 8px;
            border: none;
            outline: 1px solid $clr-btn-add;
        }

        .btn.clrblue {
            @include btn($type: clrblue);
            margin: 0;
            padding: 6px;
            height: 32px;
            justify-self: end;
            margin-block-start: 5px;
        }

        .post_not_found {
            margin-block-start: 35px;
        }

        .post-not-found-txt {
            text-align: center;

            h2 {
                margin-block-start: 40px;
            }

            p {
                margin-block-start: 16px;
                font-size: rem(16px);
                white-space: normal;
            }
        }

        img {
            width: 290px;
            height: 150px;
        }

        .update-post {
            flex-grow: 1;
            margin: 20px;
            border: 1px solid $clr-group-border;
            border-radius: $border-radius-small;

            .post-header {
                padding: 16px;
                padding-block-end: 8px;
            }

            .post-time svg {
                margin-inline-end: 3px;
            }

            .post-creator {
                gap: 10px;
                font-size: rem(16px);

                .user-img,
                svg {
                    max-height: 40px;
                    max-width: 40px;
                    min-height: 40px;
                    min-width: 40px;
                }

            }

            p {
                white-space: normal;
            }

            .post-content {
                padding: 15px;
                padding-block-start: 8px;

                p {
                    margin-block-end: 8px;
                }
            }

            .likes-section {
                margin: 8px 16px;

                .btn {
                    border-radius: 20px;
                }
            }

            .post-actions {
                justify-content: space-around;
                border-top: 1px solid $clr-group-border;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;

                    &:first-of-type {
                        border-right: 1px solid $clr-group-border;
                    }

                    .btn {
                        display: grid;
                        place-content: center;
                        flex-grow: 1;
                        margin: 4px;
                        padding: 7px;
                    }
                }
            }
        }
    }

    .panel-file {
        padding: 20px;
        // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        // gap: 16px;

        .file-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
            gap: 10px;

            .file-item {
                position: relative;
                cursor: pointer;
                overflow: hidden;
                border-radius: 8px;
                background-color: #f6f7fb;
            }

            img {
                object-fit: contain;
                max-height: 130px;
            }
        }


        .image-preview {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
        }

        .preview-content {
            max-width: 80%;
            max-height: 80%;
            overflow: hidden;
            position: relative;
        }

        .image-preview img {
            width: 100%;
            height: auto;
            display: block;
        }

        .image-preview button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #fff;
            color: #333;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .no-files-message {
            margin-block-start: 100px;

            img {
                max-width: 300px;
                width: 80%;
                height: 130px
            }

            div {
                text-align: center;
            }

            div>span {
                font-size: rem(16px);
            }

            div:first-of-type {
                margin-block: 16px 8px;
            }

            div:last-of-type {
                margin-block-end: 24px;
            }

            .bold {
                font-family: figtree-bold;
            }
        }

        .btn.clrblue {
            @include btn($type: clrblue);
            padding: 8px 16px;

            svg {
                fill: $clr0
            }

        }
    }
}