.board-header {
    padding: 10px;
    display: grid;
    grid-template-areas:
        "back title info-favorite";
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    position: sticky;
    top: 0;
    left: 0;
    background-color: $clr0;
    z-index: 30;

    @include for-narrow-only-layout {

        .activities,
        .display-opts,
        .actions,
        .invite-more-bts {
            display: none;
        }

        .board-filter {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $clr0;
            box-shadow: 0 4px 17px 0px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            min-width: 95%;
            justify-content: space-evenly;

            .btn span,
            .btn input {
                display: none;
            }
        }
    }

    .editable-txt-container .focused-input,
    .editable-txt-container .editable-txt {
        grid-area: title;
        padding-inline: 4px;
        font-size: rem(32px);
        font-family: poppins-medium;
        cursor: text;
        border-radius: $border-radius-small;

        &:not(.editable-txt-container .focused-input):hover {
            outline: 1px solid $clr-btn-border;
        }
    }

    .back {
        grid-area: back;
    }

    .info-favorite {
        grid-area: info-favorite;
        justify-self: end;
    }

    .activities {
        grid-area: activities;
        justify-self: end;
    }

    .invite-more-bts {
        grid-area: invite;
        justify-self: end;

        .invite {
            border: 1px solid $clr-btn-border;
            margin-inline-end: 8px;
        }

        .more {
            padding-inline: 4px;
        }
    }

    .display-opts {
        grid-area: display-opts;

        >*:not(:last-child) {
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                translate: 0 -50%;
                height: 50%;
                width: 1px;
                background-color: $clr-group-border;
            }
        }

        .main-table svg {
            width: 16px;
        }
    }

    .actions {
        grid-area: actions;
        justify-self: end;

        .collapse {
            rotate: 180deg;
            border-radius: 50%;
            border: 1px solid $clr-btn-border;
            height: rem(26px);
            width: rem(26px);
            padding: 0;
            margin-inline-start: 16px;
            transition: 2ms;
            justify-content: center;

            &.collapsed {
                rotate: 0deg;
            }

            svg {
                height: rem(16px);
                width: rem(16px);

                &:hover {
                    animation: bounce 0.5s ease 2;
                }
            }
        }
    }

    .board-filter {
        grid-area: filter;
        display: grid;
        grid-auto-flow: column;
        // justify-content: start;
        gap: 6px;
        padding-block: 16px;
        border-top: 1px solid $clr-group-border;
        // min-width: max-content;

        .new-task {
            @include btn($type: clrblue);
            margin-inline-end: 8px;

            svg {
                fill: $clr0;
            }

            padding-block: 4px;
        }

        .search {
            input {
                width: 47px;

                &[type="search"]::-webkit-search-cancel-button {
                    width: 0;
                    -webkit-appearance: none;
                }

                &::placeholder {
                    color: inherit;
                }
            }

            &.focused {
                background-color: $clr0;
                outline: 1px solid $clr-btn-add;

                input {
                    width: 264px;

                    &[type="search"]::-webkit-search-cancel-button {
                        width: revert;
                        -webkit-appearance: revert;
                        // background: url('/public/icons/CloseSmall.svg') no-repeat center center;
                        // background-size: contain;
                    }

                    &::placeholder {
                        color: revert;
                    }
                }
            }
        }

        .person {

            .user-img,
            .extra-members-box {
                border: unset;
                min-width: 20px;
                min-height: 20px;
                max-height: 20px;
            }

            .close-btn {
                max-height: 13px;

                svg {
                    width: 13px;
                    height: 13px;
                }
            }
        }

    }

    @include for-narrow-layout {
        padding: 16px 45px 17px 45px;
        grid-template-areas:
            "title info-favorite activities invite"
            "display-opts display-opts display-opts actions"
            "filter filter filter filter";
        grid-template-columns: auto 1fr 1fr auto;

        .back {
            display: none;
        }

        .info-favorite {
            justify-self: inherit;
        }

        .board-filter {
            min-width: max-content;
            justify-content: start;

            .new-task svg {
                display: none;
            }
        }

        &.collapsed {
            grid-template-areas:
                "title display-opts invite actions"
                "filter filter filter filter";
            grid-template-columns: auto 1fr 1fr;

            .invite-more-bts {
                justify-self: end;
            }

            .automate {
                display: none;
            }

            .activities {
                display: none;
            }

            .info-favorite {
                display: none;
            }

            .editable-txt-container .editable-txt,
            .editable-txt-container .focused-input {
                font-size: rem(24px);
            }
        }
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}