.board-group {
    display: grid;
    grid-template-columns: var(--board-grid);
    margin-block-end: 28px;
    min-width: max-content;

    .group-sticky-container {
        top: 182px;
        z-index: 25;
        background-color: white;
        width: 100%;

        &.board-header-collapsed {
            top: 134.5px;

            .task-header-list {
                box-shadow: 4px 6px 15px -8px $clr-btn-border;
            }
        }

        .group-title-container {
            display: flex;
            align-items: center;
            width: 100%;

            .title-container {
                display: flex;
                padding-inline-start: 3px;
                background-color: white;

                &:not(.collapsed .title-container) {
                    align-items: center;
                }

                .editable-txt-container {

                    .editable-txt,
                    .focused-input {
                        font-size: rem(18px);
                        font-family: poppins-medium;
                        cursor: text;

                        &:not(.board-header .editable-txt) {

                            padding-inline: 4px;
                        }

                        &:not(.collapsed .editable-txt, .collapsed .focused-input) {
                            margin-block: 9px;
                        }
                    }
                }


                .tasks-count {

                    font-size: .875rem;
                    font-weight: 400;
                    margin-block-start: 3px;
                    transition: opacity .2s;

                    &:not(.group-title-container:hover .tasks-count):not(.collapsed .tasks-count) {
                        opacity: 0;
                    }

                    &:not(.collapsed .tasks-count) {
                        margin-inline-start: 8px;

                    }

                }

                .arrow-container {
                    width: 22px;
                    margin-right: 2px;
                    margin-left: 9px;

                    svg {
                        width: 13px;
                    }
                }

                .editable-txt-container {
                    display: flex;
                    align-items: center;

                    .group-color-display {
                        position: relative;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        margin-inline: 1px 9px;
                        cursor: pointer;
                        z-index: 40;

                        &:hover:not(.color-picker-modal) {
                            filter: brightness(110%);
                        }
                    }
                }


            }

            .arrow-container {
                display: flex;
            }



            .menu-container:not(.full-opacity) {
                opacity: 0;
            }


            &:hover {
                .tasks-count {
                    opacity: 1;
                    cursor: grab;
                }

                .menu-container {
                    opacity: 1;
                }
            }
        }

        ul:not(.group-titles-list) {
            border-block-start: $clr-group-border 0.5px solid;
            border-radius: 8px;
        }

        .task-header-list-container {

            .task-header-list {
                display: flex;

                .color-display {
                    // margin-top: -0.5px;
                    height: 36px;
                    border-top-left-radius: 8px;
                }


                li {
                    padding-block: 0;

                    &:not(.task-selection) {

                        padding-inline: 9px;
                    }

                    height: 35px;
                }
            }
        }


    }

    &.collapsed {
        max-height: 60px;

        .arrow-container svg {
            rotate: -90deg;
        }

        .group-sticky-container {
            grid-column: 1 / 2;
            box-shadow: 0 5px white;
        }

        .task-table {
            grid-column: 2 / -1;
            max-height: 60px;

            .task-header-list-container,
            .task-list {
                display: none;
            }

            .group-summary {
                grid-column: 1 / -1;

                .summary-content {
                    grid-column: 1 / -1;
                    min-height: 60px;
                }

                .place-holder {
                    display: none;
                }
            }
        }

        .summary-content {
            border: $clr-group-border 0.5px solid;
            border-inline: unset;
            color: $clr-light-font;

            &>* {
                justify-content: space-between;

                &:not(.label-summary) {
                    padding-block-end: 4px;
                }
            }

            .label-summary {
                flex-direction: column;

                p {
                    width: 100%;
                }
            }

            .timeline {
                flex-direction: column;
            }

            .file-summary {
                p {
                    display: block;
                }
            }
        }


        .title-container {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            border: $clr-group-border 0.5px solid;

            .arrow-container {
                margin-block-start: 7px;
            }

            .editable-txt,
            .focused-input {
                margin-block-start: 7px;
            }

        }

        .tasks-count {
            margin-inline-start: 39px;
        }

        .color-display {
            height: 100%;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
    }

    .task-selection {
        border-inline-start: $clr-group-border 0.5px solid;
        padding: 8px;


        .checkbox {
            width: 16px;
            height: 16px;
            margin: 0;
            border: $clr-btn-border 0.5px solid;
            border-radius: 2px;

            &:not(.add-task .checkbox) {
                cursor: pointer;
            }
        }
    }

    .color-display {
        min-width: 6px;
        height: 37px;
        background-color: blue;
        z-index: 20;
    }

    .menu-container {
        min-width: 40px;
        z-index: 20;
        background-color: #fff;


        .btn {
            padding: 3px;
        }
    }

    .task-row-placeholder {
        min-width: 40px;
        height: 36px;
        background-color: white;
        z-index: 5;

        margin-block-start: -1px;
    }

    .task-title {
        min-height: 36px;
    }

}