.board-header {
    padding: 10px;
    display: grid;
    grid-template-areas:
        "back title info-favorite";
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    // gap: 8px;

    position: sticky;

    @include for-mobile-only-layout {
        top: -1px;
    }

    top: 0;
    left: 0;
    background-color: $clr0;
    z-index: 30;
    max-width: 100%;


    &.collapsed {
        .btn.main-table {
            margin-inline-start: 20px;
        }
    }

    @include for-narrow-only-layout {

        .activities,
        .display-opts,
        .actions,
        .invite-more-bts {
            display: none;
        }

        .board-filter {
            position: fixed;
            bottom: -17px;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $clr-bg-header;
            box-shadow: 0 4px 17px 0px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            min-width: 95%;
            justify-content: space-evenly;

            &.search-focused {
                display: block;

                .btn:not(.close-btn) {
                    display: none;
                }

                .search.active {
                    background-color: unset;

                    .dynamic-input {
                        background-color: $clr-btn-active;
                    }
                }

                .search-input-container {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    padding-inline-start: 10px;

                    .close-btn {
                        margin-inline: 15px 10px;
                        padding-inline: 5px;
                        background-color: $clr-btn-hover;

                    }
                }
            }

            .btn {
                padding: 0;

                span,
                input {
                    display: none;
                }

                svg {
                    width: 25px;
                    height: 25px;
                }

                &.new-task {
                    margin-inline-end: 0;
                }

            }
        }
    }

    // .editable-txt-container {
    //     overflow: hidden;

    //     // .focused-input {
    //     //     overflow: auto;
    //     // }

    // }

    .editable-txt-container .focused-input,
    .editable-txt-container .editable-txt {
        grid-area: title;
        padding-inline: 4px;
        font-size: rem(32px);
        font-family: poppins-medium;
        cursor: text;
        border-radius: $border-radius-small;

        &:not(.editable-txt-container .focused-input):hover {
            outline: 1px solid $clr-btn-border;
        }

        input {

            @include for-mobile-only-layout {
                width: 190px;
            }

            width: auto;
        }
    }

    .back {
        grid-area: back;
        width: 25px;
        margin-inline-start: 10px;
    }

    .info-favorite {
        grid-area: info-favorite;
        justify-self: end;

        .starred {
            fill: #ffcb00;
        }
    }

    .activities {
        grid-area: activities;
        justify-self: end;
    }

    .invite-more-bts {
        grid-area: invite;
        justify-self: end;

        .invite {
            border: 1px solid $clr-btn-border;
            margin-inline-end: 8px;
        }

        .more {
            padding-inline: 4px;
        }
    }

    .display-opts {
        grid-area: display-opts;

        .add-view {
            display: none;
        }

        button:not(:last-of-type) {
            font-size: rem(14px);
            position: relative;
            margin-block-end: 4px;
            padding-block: 8px;
            padding-inline: 6px 16px;

            &::after {
                content: "";
                height: 16px;
                border-right: 1px solid;
                border-color: $clr-group-border;
                position: absolute;
                top: 10px;
                right: 0;
            }
        }

        .btn.main-table::before {
            content: "";
            height: 2px;
            width: 98%;
            position: absolute;
            bottom: -4px;
            background-color: $clr-btn-add;

        }

        .main-table svg {
            width: 16px;
        }
    }

    .actions {
        grid-area: actions;
        justify-self: end;

        .collapse {
            rotate: 180deg;
            border-radius: 50%;
            border: 1px solid $clr-btn-border;
            height: rem(26px);
            width: rem(26px);
            padding: 0;
            margin-inline-start: 16px;
            transition: 2ms;
            justify-content: center;

            &.collapsed {
                rotate: 0deg;
            }

            svg {
                height: rem(16px);
                width: rem(16px);

                &:hover {
                    animation: bounce 0.5s ease 2;
                }
            }
        }
    }

    .board-filter {
        grid-area: filter;
        display: grid;
        grid-auto-flow: column;
        // justify-content: start;
        gap: 6px;
        padding-block: 10px;
        border-top: 1px solid $clr-group-border;
        // min-width: max-content;
        // min-height: 65px;

        .new-task {
            @include btn($type: clrblue);
            margin-inline-end: 8px;

            svg {
                fill: $clr0;
            }

            padding-block: 4px;
        }

        .btn {
            height: 32px;

            span {
                padding-inline-end: 10px;
            }
        }

        .search {

            .dynamic-input {
                margin-inline: 0;

                .btn {
                    height: unset;
                }

                .search-input .search-icon {
                    padding-inline: 8px;
                }
            }
        }

        .person {

            .user-img,
            .extra-members-box {
                border: unset;
                min-width: 20px;
                max-width: 20px;
                min-height: 20px;
                max-height: 20px;
            }

            .close-btn {
                max-height: 13px;

                svg {
                    width: 13px;
                    height: 13px;
                }
            }
        }

    }

    @include for-narrow-layout {
        padding: 16px 38px 17px 38px;
        grid-template-areas:
            "title info-favorite activities invite"
            "display-opts display-opts display-opts actions"
            "filter filter filter filter";
        grid-template-columns: auto 1fr 1fr auto;

        .back {
            display: none;
        }

        .info-favorite {
            justify-self: inherit;
        }

        .board-filter {
            min-width: max-content;
            justify-content: start;

            .new-task svg {
                display: none;
            }
        }

        &.collapsed {
            grid-template-areas:
                "title display-opts invite actions"
                "filter filter filter filter";
            grid-template-columns: auto 1fr 1fr;

            .invite-more-bts {
                justify-self: end;
            }

            .automate {
                display: none;
            }

            .activities {
                display: none;
            }

            .info-favorite {
                display: none;
            }

            .editable-txt-container .editable-txt,
            .editable-txt-container .focused-input {
                font-size: rem(24px);
            }
        }
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}