.member-list {

    .member-option {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 8px;

        .user-img,
        .extra-members-box {
            min-width: 26px;
            min-height: 26px;
            max-width: 26px;
            max-height: 26px;
            border: unset;
        }

        .username {
            padding-inline: 8px;
        }
    }
}