/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

@mixin btn($type: regular, $width: auto) {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: em(8px, 14px);
    // min-height: 30px;

    width: $width;
    padding-inline: em(8px, 14px);
    padding-block: em(4px, 14px);
    // height: 32px;

    line-height: normal;
    border-radius: $border-radius-small;
    cursor: pointer;

    // img,
    // svg {
    //     height: 100%;
    //     width: auto;
    // }
    svg {
        height: em(20px, 14px);
        width: em(20px, 14px);
    }

    @if $type ==regular {

        &:not(.person.active) {
            background-color: $clr0;
        }

        color: $clr-font;

        &:hover:not(.person.active) {
            background-color: $clr-btn-hover;
        }
    }

    @else if $type ==clrblue {
        background-color: $clr-btn-add;
        color: $clr0;

        &:hover {
            background-color: $clr-btn-add-hover;
        }
    }

}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}