@font-face {
    font-family: figtree;
    src: url(/fonts/figtree/Figtree-Regular.ttf);
}

@font-face {
    font-family: figtree-bold;
    src: url(/fonts/figtree/Figtree-SemiBold.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/fonts/poppins/Poppins-Regular.ttf);
}