@font-face {
    font-family: figtree;
    src: url(/fonts/figtree/Figtree-Regular.ttf);
}

@font-face {
    font-family: figtree-bold;
    src: url(/fonts/figtree/Figtree-SemiBold.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-semi;
    src: url(/fonts/poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(/fonts/poppins/Poppins-Bold.ttf);
}