// Colors
$clr0: #fff;
$clr1: #ce2e6c;
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

// root main colors
:root {
    --bgc-header: $clr-bg-header;
    --bgc: $clr0;
    // --dark-mode-bg-header: #292f4c;
    // --dark-mode-bg: #181b34;
}

// $clr1: #fff;
// $clr2: #000;

// group clrs
$clr-group-border: #d0d4e4;
$clr-task-hover: #f5f6f8;
$clr-link: #0086c0;

// fonts colors
$clr-font: #323338;
$clr-light-font: #676879;

// main bg colors
$clr-bg-header: #eceff8;
$clr-bg-open-modal: #292f4cb3;

// btns colors
$clr-btn-active: #cce5ff;
$clr-btn-hover: #dcdfec;
$clr-btn-add: #0073ea;
$clr-btn-add-hover: #0060b9;
$clr-btn-border: #c3c6d4;

$clr-btn-feedback: #bb3354;
$clr-workspace-logo: #ff642e;

// labels color pallete
$clr-label-1: #ffcb00;
$clr-label-2: #ffcb00;
$clr-label-3: #007038;
$clr-label-4: #469e9b;
$clr-label-5: #579bfc;
$clr-label-6: #9aadbd;
$clr-label-7: #bba5e8;
$clr-label-8: #8050ab;
$clr-label-9: #4f3a65;
$clr-label-10: #92334c;
$clr-label-11: #bb3354;
$clr-label-12: #ff7575;

// status cmp colors
$clr-status-done: #00c875;
$clr-status-working: #fdab3d;
$clr-status-stuck: #e2445c;
$clr-status-qa: #faa1f1;
$clr-status-not-started: #c4c4c4;

// priority cmp colors
$clr-priority-critical: #333333;
$clr-priority-high: #401694;
$clr-priority-medium: #5559df;
$clr-priority-low: #579bfc;
$clr-priority-neutral: #c4c4c4;

// layout
$layout-padding: 18px;
$sidebar-padding: 12px;
$border-radius-small: 4px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;