// Colors
$clr0: #fff;
$clr1: #000;

// root main colors
:root {
    --bgc-header: $clr-bg-header;
    --bgc: $clr0;
    // --dark-mode-bg-header: #292f4c;
    // --dark-mode-bg: #181b34;

    //board group
    --task-col: 200px;
    --first-col: calc(var(--task-col) + 16px);
    --person-col: 123px;
    --status-col: 139px;
    --priority-col: 139px;
    --date-col: 174px;
    --link-col: 139px;
    --file-col: 139px;
    --line-end: minmax(90px, 1fr);

    --board-grid: var(--first-col) var(--person-col) var(--status-col) var(--priority-col) var(--date-col) var(--link-col) var(--file-col) var(--line-end);

    --sidebar-width: 250px;
    --layout-transition: 250ms;

    --animate-duration: .3s !important;
}


// group clrs
$clr-group-border: #d0d4e4;
$clr-task-hover: #f5f6f8;
$clr-link: #0086c0;
$clr-chosen-member: #e5f4ff;
$clr-board-chosen-member: #d9f0ff;

// fonts colors
$clr-font: #323338;
$clr-light-font: #676879;

// main bg colors
$clr-bg-header: #eceff8;
$clr-bg-open-modal: #292f4cb3;

// btns colors
$clr-btn-active: #cce5ff;
$clr-btn-hover: #dcdfec;
$clr-btn-add: #0073ea;
$clr-btn-add-hover: #0060b9;
$clr-btn-border: #c3c6d4;

$clr-btn-feedback: #bb3354;
$clr-workspace-logo: #ff642e;

// labels color pallete
$clr-label-1: #ffcb00;
$clr-label-2: #ffcb00;
$clr-label-3: #007038;
$clr-label-4: #469e9b;
$clr-label-5: #579bfc;
$clr-label-6: #9aadbd;
$clr-label-7: #bba5e8;
$clr-label-8: #8050ab;
$clr-label-9: #4f3a65;
$clr-label-10: #92334c;
$clr-label-11: #bb3354;
$clr-label-12: #ff7575;

// status cmp colors
$clr-status-done: #00c875;
$clr-status-working: #fdab3d;
$clr-status-stuck: #e2445c;
$clr-status-qa: #faa1f1;
$clr-status-not-started: #c4c4c4;

// priority cmp colors
$clr-priority-critical: #333333;
$clr-priority-high: #401694;
$clr-priority-medium: #5559df;
$clr-priority-low: #579bfc;
$clr-priority-neutral: #c4c4c4;

// user msg
$clr-success: #00854d;
$clr-success-hover: #007038;
$clr-err: #d83a52;
$clr-err-hover: #b63546;

$card-colors: (
    rgb(255, 138, 196),
    rgb(0, 200, 117),
    rgb(240, 64, 149),
    rgb(255, 153, 0),
    rgb(0, 210, 210),
    rgb(171, 205, 253),
    rgb(255, 117, 117),
    rgb(105, 169, 202),
    rgb(108, 108, 255)
);

// layout
$layout-padding: 18px;
$sidebar-padding: 12px;
$border-radius-small: 4px;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 905px;
$normal-breakpoint: 1055px;


//wider than 600px
@media (min-width: $mobile-breakpoint) {
    :root {
        --task-col: 393px;
    }
}

//wider than 600px
@media (min-width: $narrow-breakpoint) {
    :root {
        --task-col: 498px;
        --first-col: calc(var(--task-col) + 44px);
    }
}