.date-preview {
    padding: 2px;

    p {
        display: flex;
        align-items: center;
        justify-content: center;

        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        cursor: text;

    }

}