.link-preview {
    padding: 2px;

    .data-preview-content {
        color: $clr-link;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        cursor: text;

        .link-href {
            padding-inline: 4px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            font-size: rem(13px);
            color: $clr-link;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}