.link-preview {
    padding: 2px;

    button {
        width: 95%;
        height: 90%;

        color: $clr-link;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        cursor: text;

        &:hover {
            outline: 1px solid $clr-btn-border;
        }

        a {
            padding-inline: 4px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            font-size: rem(13px);
            color: $clr-link;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}