.task-list {

    .task-header-list {
        // margin-inline-start: 36px;

        li {
            padding-block: 0;
            height: 35px;
        }
    }

    ul.task-preview:not(.add-task .task-preview) {
        border-block-start: $clr-group-border 0.5px solid;
        border-inline: unset;
    }

    li {
        display: flex;
        align-items: center;

        &:not(.task-title) {
            justify-content: center;
        }

        &:not(.add-task .task-title):not(.line-end) {
            border-inline-end: $clr-group-border .5px solid;
        }

        &.task-title {
            display: grid;
            grid-template-columns: minmax(30px, 1fr) auto;


        }
    }

    .task-title-container {

        min-width: var(--task-col);
        max-width: var(--task-col);
        z-index: 10;


        .task-title {

            &:not(.active .task-title):not(.task-preview-container:hover .task-title) {

                @include for-narrow-layout {

                    background-color: white;
                }
            }

            .editable-txt-container {
                width: 75%;

                @include for-narrow-layout {
                    width: 95%;

                }

                form {
                    width: 100%;
                    border-radius: 4px;
                    background-color: white;
                }

                input {
                    width: 100%;
                }

            }
        }

        .task-title {
            width: 100%;

            &.single-task {

                // &:not(.add-task .single-task) {

                @include for-mobile-only-layout {
                    padding-inline-start: 20px;
                }

                padding-inline-start: 36px;
                // }


                .focused-input form,
                .editable-txt {
                    padding-block: 3px 2px;
                    padding-inline-start: 3px;
                }

            }
        }
    }

    .add-task {

        .task-preview {

            .task-title-container {

                .add-task-content {

                    .add-task-content-layout {
                        width: 100%;

                        .task-edit-container {
                            box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1);

                            .task-title {

                                @include for-narrow-only-layout {
                                    padding-inline-start: 13px;
                                }

                                @include for-mobile-only-layout {
                                    padding-inline-start: unset;

                                    .focused-input {
                                        margin-inline-start: 6px;

                                        .add-task-btn {
                                            padding-block: 1px;
                                        }
                                    }
                                }

                                @include for-narrow-layout {
                                    padding-inline-start: 16px;
                                }

                                .focused-input {
                                    background-color: white;
                                }



                                .editable-txt,
                                .focused-input form {
                                    padding-inline-start: 11.5px;
                                }

                                .editable-txt {
                                    width: 99%;
                                }

                                .add-task-btn {
                                    font-size: rem(12px);
                                    padding: 2px 4px;
                                    margin-inline-end: 2px;
                                    color: white;
                                    background-color: $clr-btn-add;
                                    border-radius: 4px;
                                }

                            }
                        }


                        .checkbox {
                            border-color: $clr-group-border;
                        }
                    }

                }

            }


            .single-task,
            .line-end,
            .task-selection {
                border-block: $clr-group-border 0.5px solid;
            }

            .editable-txt {
                opacity: .8;
            }
        }

        .color-display {
            height: 36px;
            border-bottom-left-radius: 8px;
            opacity: .5;
            box-shadow: 0 5px white;
        }

        .task-row-placeholder {
            height: 37px;
            max-width: 36px;
            box-shadow: 0 5px white;
        }
    }

}