.task-list {
    // display: grid;
    // grid-template-columns: 384px 97px 139px 139px 174px 139px 138px 1fr;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    width: 100%;

    li:not(.task-title-container li) {
        grid-column: span 1;
        background-color: rgb(241, 153, 153) !important;
    }

    .task-header-list {
        margin-inline-start: 36px;

        li {
            padding-block: 0;
            height: 35px;
        }
    }

    ul.task-preview:not(.add-task .task-preview) {
        border-block-start: $clr-group-border 0.5px solid;
        border-inline: unset;
    }

    li {
        display: flex;
        align-items: center;

        &:not(.link-preview):not(.task-selection) {
            padding: 8px;
        }

        &:not(.task-title) {
            justify-content: center;
        }

        &:not(.add-task .task-title) {
            border-inline-end: $clr-group-border .5px solid;
        }
    }

    .task-title-container {
        position: sticky;
        left: 42px;

        min-width: 342px;
        max-width: 342px;
        z-index: 10;

        .task-title {

            .editable-txt-container {
                width: 95%;

                form {
                    width: 100%;
                    border-radius: 4px;
                    background-color: white;
                }

                input {
                    width: 100%;
                }

            }
        }

        .task-title {
            width: 100%;
            max-width: 304px;

            &.single-task {
                padding-inline-start: 36px;

                .focused-input form,
                .editable-txt {
                    padding-block: 3px 2px;
                    padding-inline-start: 3px;
                }
            }
        }
    }

    .task-preview-container {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;

        .task-preview {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 2 / -1;

        }
    }

    .tasks-container {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        width: 200vh;
    }

    .add-task {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        width: 200vh;

        .task-preview {
            .task-title {
                padding-inline-start: 16px;

                .editable-txt,
                .focused-input form {
                    padding-inline-start: 11.5px;
                }

                .editable-txt {
                    width: 99%;
                }

            }

            .single-task,
            .line-end,
            .task-selection {
                border-block: $clr-group-border 0.5px solid;
            }

            .line-end {
                width: 1597px;
            }

            .editable-txt {
                opacity: .8;
            }
        }

        .color-display {
            height: 36px;
            border-bottom-left-radius: 8px;
            opacity: .5;
        }

        .task-row-placeholder {
            height: 37px;
            max-width: 36px;
        }
    }

}