.task-header-list-container {

    .task-header-list {
        border-block-start: $clr-group-border 0.5px solid;
        border-radius: 8px;

        .group-titles-list {
            grid-column: 1 / -2;

            li {
                height: 100%;
            }
        }


        .color-display {
            margin-top: -1px;
            border-top-left-radius: 8px;
            box-shadow: 0 -15px white;
        }


        li {
            justify-content: center;
            display: flex;
            align-items: center;
            padding-block: 0;
            background-color: white;

            &:not(.line-end) {
                border-inline-end: $clr-group-border 0.5px solid;
            }

            &:not(.task-selection) {
                padding-inline: 9px;
            }

            height: 35px;
        }

        .task-title-container {
            display: flex;
            min-width: var(--task-col);
            max-width: var(--task-col);

            .task-title {
                display: flex;
                width: 100%;
                // background-color: white;

            }

        }
    }
}