.task-preview-container {
    &.add-task:hover .color-display {
        opacity: 1;
    }

    &:hover {
        li:not(.status-preview):not(.active li) {
            background-color: $clr-task-hover;
        }

        &:not(.active li) {
            background-color: white;
        }

        .status-preview {
            opacity: .8;
            box-shadow: 0px 10px 13px -3px rgba(255, 255, 255, 0.75);
        }
    }

    .task-preview {
        &:hover:not(.active) {
            box-shadow: 4px 3px 6px -3px $clr-btn-border;
            z-index: 10;

            .status-picker {
                opacity: .8;
                box-shadow: -3px 0px 23px 2px rgb(255 255 255 / 7%);
            }

        }

        &.active .color-display {
            opacity: 1;
        }

        li {
            white-space: nowrap;
            height: 36px;

            &:not(.active li) {
                background-color: white;
            }

            &:not(.task-selection) {
                cursor: pointer;
            }

            &:not(.task-title) {
                text-align: center;
            }

        }

        .focused-input {
            width: 100%;
        }

        .data-preview-container {
            position: relative;

            .data-preview-content {
                width: 95%;
                height: 90%;
            }

            .remove-btn {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 10px;
                width: 20px;
                height: 20px;
                padding: 0;
                background-color: $clr-btn-hover;
                opacity: 0;
                cursor: pointer;

                svg {
                    width: 18px;
                    height: 18px;

                }
            }


            &:hover {

                .data-preview-content {
                    outline: 1px solid $clr-btn-border;
                }

                .btn {
                    opacity: 1;
                }
            }
        }
    }
}