// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/forms";

// Views
@import "views/about-us";
@import "views/home-page";
@import "views/board-details";
@import "views/user-details";
@import "views/task-details";
@import "views/login-signup";

// Components
@import "cmps/user-msg";
@import "cmps/app-header";
@import "cmps/board-app-header";
@import "cmps/sidebar/sidebar";
@import "cmps/done-status-animation";
@import "cmps/tooltip";
@import "cmps/activity-preview";
@import "cmps/about-us";

// board
@import "cmps/board/board-app";
@import "cmps/board/member-list";
@import "cmps/board/board-header";
@import "cmps/board/board-group";

//summary
@import "cmps/board/summary/group-summary";
@import "cmps/board/summary/label-summary";
@import "cmps/board/summary/file-summary";

// tasks
@import "cmps/board/task/task-list";
@import "cmps/board/task/task-preview";
@import "cmps/board/task/member-preview";
@import "cmps/board/task/link-preview";
@import "cmps/board/task/date-preview";
@import "cmps/board/task/file-preview";
@import "cmps/board/task/status-preview";
@import "cmps/board/task/task-header-list";
@import "cmps/board/task/task-sticky-container";
@import "cmps/board/task/task-table";
@import "cmps/board/task/timeline";
@import "cmps/board/task/time-indicator";
@import "cmps/board/task/open-details";

// modals
@import "cmps/modals/menu-option-modal";
@import "cmps/modals/dynamic-absolute-modal";
@import "cmps/modals/color-picker-modal";
@import "cmps/modals/date-picker-modal";
@import "cmps/modals/link-picker-modal";
@import "cmps/modals/status-picker-modal";
@import "cmps/modals/member-picker-modal";
@import "cmps/modals/invite-modal";
@import "cmps/modals/automation-modal";
@import "cmps/modals/automation-list";
@import "cmps/modals/label-picker-preview";
@import "cmps/board-member-select";
@import "cmps/dynamic-dialog";

@import "cmps/dynamic-input";